
  <div class="container">
    <div class="row">
      <div id = "login" class="col-md-6 col-md-offset-3">
        <br>
        <br>
        <h2>Login Form</h2>
        <br>
         <form class="col s12 login form-group">
      <div class="row">
        <div class="input-field col s12">
          <input id="username-input" type="text" >
          <label for="last_name">Username</label>
        </div>
       </div>
      <div class="row"> 
        <div class="input-field col s12">
          <input id="password-input" type="password" >
          <label for="password">Password</label>
        </div>
      </div>
       <button type="submit" class="pink darken-4 btn pulse waves-effect waves-light">Login<i class="material-icons right">send</i></button>
    </form>    
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>