<br>
<br>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            
            <h2>New Event Form</h2>
            <br>
    
            <br>
            <div class="row">
                <form class="col s12  form-group">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="eventname-input" type="text">
                            <label for="event_name">Event Name</label>
                        </div>
                    </div>

                    <div class = "row"><div class="input-field col s6">
                            <input id="eventdate-input" type="text">
                            <label for="event_date">Event Date</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="location-input" type="text">
                            <label for="location">Location</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="description-input" type="text">
                            <label for="descripton">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col s12">
                            <label for="invited">Invite your friends!</label>
                            <select multiple class="form-control" id="invited-input">
                                {{#each users}}
                                <option>{{this.firstname}} {{this.lastname}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <button type="submit" id="newevent" class="newevent pink darken-4 btn pulse waves-effect waves-light">Submit<i class="material-icons right">send</i></button>

                </form>
            </div>

        </div>
    </div>
</div>
<br>
 <a href="/members">← Back to the List of Events Page</a>
 <br>
 <br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/newevent.js"></script>