.list-group-item {
  line-height: 2.5;
}
form.signup,
form.login {
  margin-top: 50px;
}

body {
  line-height: 1.5em;
  text-align: center;
  font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #be2b2f;
  background-color: #f8dfa9;
  background-image: url(/images/event.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.custom{
  opacity: 0.8;
}
.custom1{
  opacity: 0.7;
}

h1,h2{
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  color: #be2b2f;
}


@media (max-width: 375px) {
 
  body{
      font-size: 1em;
  }
  h2{
      font-size: 1.5em;
  }
  #mobile{
      color: white;
      background-color: #be2b3090;
  }
  
}
