.list-group-item {
  line-height: 2.5;
}
form.signup,
form.login {
  margin-top: 50px;
}

body {
  line-height: 1.5em;
  text-align: center;
  font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #5f3435;
  background-color: #5f3435;
  background-image: url(/images/loginB.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a{
  color: #f8bdbd;
}
#namelink{
  color:#8e0e4e;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  font-size: 1.5em;
}
.commentColor{
  color: blue;
}

.custom{
  opacity: 0.8;
}
.custom1{
  opacity: 0.7;
}
#login{
  margin: auto;
}
#password-input{
  color: #f8bdbd;
}
a:hover {
  color: white;
}
.form-group{
  color: #f8bdbd;
}
placeholder{
  color:red;
}
h1{
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  color: #f8bdbd;
}
h2{
  color: #f8bdbd;
}

.chat {
  text-align: left;
}


@media (max-width: 375px) {
 
  body{
      font-size: 1em;
  }
  h2{
      font-size: 1.5em;
  }
  #mobile{
      color: #f8bdbd;
      background-color: #5f3435;
  }
  #namelink{
    color:#8e0e4e;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-size: 1em;
  }
  
}
